@import "./abstract/abstract";
@import "bootstrap-scss/bootstrap.scss";
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../../../node_modules/owl.carousel/dist/assets/owl.carousel.min.css";
@import "../../../node_modules/owl.carousel/dist/assets/owl.theme.default.css";

@import "./base/base";
@import "./components/components";
@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap%22");
// @import 'bootstrap/scss/bootstrap';

:root{
    --primary: #a61005;
}

* {
    box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}


.main-wrapper {
    opacity: 1;
    transition: all 0.25s ease-in;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }




