div .tooltip-inner{
    background-color: #be4b49;
    border-left-color: #7e0e0e;
}
div .bs-tooltip-start {
    background-color: #be4b49;
    color: #be4b49;
}
.tooltip .tooltip-arrow {
    --bs-tooltip-bg: #be4b49;
}
.tooltip-bottom .tooltip-arrow {
    bottom: -5px;
}

.w114 {width: 114px !important; }
.h17 {height: 17px !important; }
.w17 {width: 17px !important; }

.opacity-30 {
    opacity: 30%;
}
.text-blue-gradiant { text: linear-gradient(to right, #0575e6, #021b79) !important;
    -webkit-background-clip: text;
    background-clip: text;
}
.w114 {width: 114px !important; }
.h17 {height: 17px !important; }
.w17 {width: 17px !important; }