div .tooltip-inner{
    background-color: #be4b49;
    border-left-color: #7e0e0e;
}
div .bs-tooltip-start {
    background-color: #be4b49;
    color: #be4b49;
}
.tooltip .tooltip-arrow {
    --bs-tooltip-bg: #be4b49;
}
.tooltip-bottom .tooltip-arrow {
    bottom: -5px;
}

.w114 {width: 114px !important; }
.h23 {height: 17px !important; }
.w23 {width: 17px !important; }

.bottom-0 {bottom: 0px;}

.opacity-30 {
    opacity: 30%;
}