div .tooltip-inner{
    background-color: #be4b49;
    //border-left-color: #7e0e0e;
}
div .bs-tooltip-start {
    background-color: #be4b49;
    color: #be4b49;
}
.tooltip .tooltip-arrow {
    --bs-tooltip-bg: #be4b49;
}