.image-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.modal-image {
    display: flex;
    max-height: calc(100vh - 150px);
    max-width: calc(150vh - 10px);
    width: auto;
    height: auto;
    object-fit: contain;
}

.prev-button,
.next-button {
    background-color: transparent;
    border: transparent;
    color: #0a573b;
    cursor: pointer;
    font-size: 50px;
    z-index: 2;
}

.next-button {
    left: 1100px;
}

.close-button {
    position: absolute;
    background-color: transparent;
    border: transparent;
    color: #0a573b;
    cursor: pointer;
    font-size: 30px;
    z-index: 2;
    width: 10vh;

}

.prev-button:hover{
    color: #6bf5be;
}

.next-button:hover {
    color: #6bf5be;
}

.next-button {
    right: 80px;
}

.prev-button {
    left: 100px;
}

.close-button:hover {
    color: #6bf5be;
}

.dialog-content-container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 3fr;
    grid-gap: 10px;
}

.dialog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.8s ease;
    &:hover{
        background-color: rgba(255, 255, 255, 0.15);
        .next-button {
            transition: all 0.8s ease-out;
            color: #6bf5be;
        }
        .prev-button{
            transition: all 0.8s ease-out;
            color: #6bf5be;
        }
    }
}
